//=============================================================================
// ■ Reset
//=============================================================================

@layer reset {
	* {
		box-sizing: border-box;
		min-width: 0;
		min-height: 0;
		margin: 0;
		border: none;
		padding: 0;
		text-overflow: ellipsis;
		flex: none;
		background: none;
		transform-origin: top left;
	}

	:root {
		text-decoration-skip-ink: none;
		word-wrap: break-word;
	}

	ul,
	ol {
		list-style: none;
	}

	table {
		border-spacing: 0;
	}

	img,
	video,
	audio,
	embed,
	iframe,
	object {
		// todo: exhaust the list
		display: block;
		margin: auto;
		max-inline-size: 100%;
	}

	kbd,
	button,
	input,
	select,
	textarea {
		font: inherit;
		color: inherit;
	}
}

//=============================================================================
// ■ Theme-agnostic styles,
//   including language-specific styles for article building blocks
//=============================================================================

@font-face {
	font-family: sats-symbol;
	src: url("SatsSymbol.otf") format("opentype");
	font-display: swap;
}

:root {
	--monospace: sats-symbol, monospace, monospace;
}

body>header {
	grid-area: head;
}

body>main {
	grid-area: main;
}

body>aside {
	grid-area: side;
}

body>footer {
	grid-area: foot;
}

:where(article) {
	margin-block: 1pc;
	margin-inline: auto;
	max-inline-size: 42pc;

	p,
	h1,
	h2,
	h3,
	h4,
	ul,
	ol,
	dl,
	pre,
	blockquote,
	hr,
	aside,
	figure,
	table,
	img:not(p *),
	video,
	audio,
	embed,
	iframe,
	object,
	.admonition,
	details {
		margin-block-end: 6pt;
	}

	p:lang(zh) {
		text-indent: 2em;
	}

	li>p:lang(zh) {
		text-indent: 0;
	}

	p:lang(ja) {
		text-indent: 1em;
	}

	em:lang(zh) {
		font-style: inherit;
		text-emphasis-style: dot;
		text-emphasis-position: under right;
	}

	em:lang(ja) {
		font-style: inherit;
		text-emphasis-style: sesame;
	}

	ul {
		padding-inline-start: 2em;
		list-style: circle;
	}

	ol {
		padding-inline-start: 2em;
		list-style-type: decimal;
	}

	dl {
		display: grid;
		align-items: baseline;
		grid-template-columns: fit-content(6em) 1fr;
		column-gap: 1em;
	}

	dt {
		grid-column: 1;
		font-weight: bold;
	}

	dd {
		grid-column: 2;
	}

	blockquote {
		font-style: italic;
		margin-inline: 2em;
	}

	hr {
		line-height: 1;
		text-align: center;
		opacity: .5;
		word-spacing: 1em;
		overflow: visible;

		&::before {
			content: "❄ ❄ ❄";
		}
	}

	aside {
		font-size: .8em;
	}

	figure {
		padding-block-start: 6pt;
		overflow: auto;
	}

	table {
		margin-inline: auto;
	}

	figure table {
		white-space: nowrap;
	}
}

// https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-kbd-element
// When the `kbd` element is nested inside another `kbd` element, it represents an actual key or other single unit of input as appropriate for the input mechanism.
kbd kbd {
	display: inline;
	font-size: .8em;
	vertical-align: middle;
	min-inline-size: 2em;
	margin-inline: .1em;
	padding-block: .1em;
	padding-inline: .4em;
	box-shadow: inset 0 0 1.25em -1em;
	border: .05em solid;
	border-bottom-width: .15em;
	border-radius: .15em;
}

sub,
sup {
	font-size: .7em;
	line-height: 0;
}

rt {
	font-size: .7em;
}

p img {
	display: inline;
	vertical-align: middle;
}

ul.articles {
	list-style: "\25c7\2002";

	>li {
		margin-block-end: 6pt;

		>a {
			margin-inline-end: .5em;
		}

		>time {
			font-size: .8em;
			opacity: .5;
		}
	}
}

figcaption {
	text-align: center;
	font-size: .8em;
	margin-block-start: 3pt;
}

blockquote+figcaption {
	text-align: right;
	font: inherit;

	&::before {
		content: "— ";
	}

	&:lang(zh)::before {
		content: "——";
	}
}

table.settabs {
	table-layout: fixed;
	margin-inline: 0;

	td,
	th {
		padding-inline: .5em;
	}
}

table.booktabs {
	border-block: .08em solid;
	padding-block: 3pt;

	td,
	th {
		padding-inline: .5em;
		text-align: left;
		vertical-align: baseline;
	}

	>thead th {
		border-block-end: .05em solid;
		vertical-align: bottom;
	}
}

table.spreadsheet {
	th {
		border: medium outset;
		min-width: 6ch;
	}

	td {
		border-block-end: thin inset;
		border-inline-end: thin inset;
	}
}

table.tilemap {
	table-layout: fixed;

	th,
	td {
		width: 2em;
		height: 2em;
		text-align: center;
		vertical-align: middle;
		border: thin solid;
	}

	.given {
		background: #80808040;
	}
}

pre,
code {
	font: inherit;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: break-word;
	tab-size: 1em;
	hyphens: none;
}

code {
	font-style: normal;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
	margin-right: .1em;
}

.token.underline {
	text-decoration: underline;
}

.token.faint {
	opacity: .5;
}

code:not([class*="language-"]),
.token.monospace {
	font-family: var(--monospace);
}

pre>code {
	display: block;
	overflow: auto;
	text-overflow: clip;
	white-space: pre;
}

// Sat's 黑幕
.spoiler {
	color: black;
	background: black;

	&:hover {
		color: white;
	}
}

// 透明底
.checkered {
	background: 0 0 / 32px 32px repeating-conic-gradient(#000040 0 .25turn, #000080 0 .5turn);
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	align-items: center;
	gap: 6pt 2em;

	>* {
		margin-inline: 0;
	}
}

// 双栏对照
.paracol {
	display: grid;
	grid: auto-flow / 1fr 1fr;
	column-gap: 1em;
}

// 防止索引
@for $i from 0 through 1 {
	@font-face {
		font-family: sats-cipher-#{$i};
		src: url("SatsCipher#{$i}.otf") format("opentype");
		font-display: swap;
	}

	.cipher.\3#{$i} {
		--monospace: sats-symbol,
		sats-cipher-#{$i},
		sats-cipher-0,
		monospace,
		monospace;
	}
}

.cipher {
	font-family: var(--monospace);

	em {
		text-decoration: underline;
		font-style: normal;
		text-emphasis: none;
	}

	code:not(pre>*)::before,
	code:not(pre>*)::after {
		content: "`";
	}
}

//=============================================================================
// ■ Themes
//=============================================================================

.theme-twenty-twelve {
	// This style is mostly copied from Twenty Twelve WordPress theme.
	// https://themes.trac.wordpress.org/browser/twentytwelve/4.2/style.css

	/* =Reset
	-------------------------------------------------------------- */

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	caption,
	th,
	td {
		font-weight: normal;
		text-align: left;
	}

	a:focus {
		outline: thin dotted;
	}

	del {
		color: #333;
	}

	ins {
		background: #fff9c0;
		text-decoration: none;
	}

	hr {
		background-color: #ccc;
		border: 0;
		height: 1px;
		margin: 24px;
		margin-bottom: 24px;
	}

	/* =Repeatable patterns
	-------------------------------------------------------------- */

	/* Small headers */
	.archive-title,
	.page-title,
	.widget-title {
		font-size: 11px;
		line-height: 2.181818182;
		font-weight: bold;
		text-transform: uppercase;
		color: #636363;
	}

	/* Form fields, general styles first */
	button,
	input,
	select,
	textarea {
		border: 1px solid #ccc;
		border-radius: 3px;
		font-family: inherit;
		padding: 6px;
	}

	textarea {
		font-size: 100%;
		overflow: auto;
		vertical-align: top;
	}

	/* Reset non-text input types */
	input[type="checkbox"],
	input[type="radio"],
	input[type="file"],
	input[type="hidden"],
	input[type="image"],
	input[type="color"] {
		border: 0;
		border-radius: 0;
		padding: 0;
	}

	/* Buttons */
	.menu-toggle,
	input[type="submit"],
	input[type="button"],
	input[type="reset"] {
		padding: 6px 10px;
		font-size: 11px;
		line-height: 1.428571429;
		font-weight: normal;
		color: #7c7c7c;
		background-color: #e6e6e6;
		background-repeat: repeat-x;
		background-image: linear-gradient(#f4f4f4, #e6e6e6);
		border: 1px solid #d2d2d2;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	}

	.menu-toggle,
	button,
	input[type="submit"],
	input[type="button"],
	input[type="reset"] {
		cursor: pointer;
	}

	button[disabled],
	input[disabled] {
		cursor: default;
	}

	.menu-toggle:hover,
	.menu-toggle:focus,
	button:hover,
	input[type="submit"]:hover,
	input[type="button"]:hover,
	input[type="reset"]:hover {
		color: #5e5e5e;
		background-color: #ebebeb;
		background-repeat: repeat-x;
		background-image: linear-gradient(#f9f9f9, #ebebeb);
	}

	.menu-toggle:active,
	.menu-toggle:has(>:checked),
	button:active,
	input[type="submit"]:active,
	input[type="button"]:active,
	input[type="reset"]:active {
		color: #757575;
		background-color: #e1e1e1;
		background-repeat: repeat-x;
		background-image: linear-gradient(#ebebeb, #e1e1e1);
		box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
		border-color: transparent;
	}

	/* Responsive images */
	.entry-content img,
	.comment-content img,
	.widget img {
		max-width: 100%;
		/* Fluid images for posts, comments, and widgets */
	}

	/* Make sure videos and embeds fit their containers */
	embed,
	iframe,
	object,
	video {
		max-width: 100%;
	}

	/* Images */
	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}

	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.entry-content img,
	.comment-content img,
	.widget img,
	img.wp-post-image {
		/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
		border-radius: 3px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	}

	.wp-caption {
		max-width: 100%;
		/* Keep wide captions from overflowing their container. */
		padding: 4px;
	}

	.wp-caption .wp-caption-text,
	.gallery-caption,
	.entry-caption {
		font-style: italic;
		font-size: 12px;
		line-height: 2;
		color: #757575;
	}

	.entry-content dl.gallery-item {
		margin: 0;
	}

	/* Navigation */
	body>main nav {
		clear: both;
		line-height: 2;
		overflow: hidden;
	}

	/* =Basic structure
	-------------------------------------------------------------- */

	@font-face {
		font-family: "Open Sans";
		src: url("OpenSans-Regular.woff2") format("woff2");
	}

	@font-face {
		font-family: "Open Sans";
		font-weight: bold;
		src: url("OpenSans-Bold.woff2") format("woff2");
	}

	@font-face {
		font-family: "Open Sans";
		font-style: italic;
		src: url("OpenSans-Italic.woff2") format("woff2");
	}

	@font-face {
		font-family: "Open Sans";
		font-weight: bold;
		font-style: italic;
		src: url("OpenSans-BoldItalic.woff2") format("woff2");
	}

	/* Body, links, basics */
	&:root {
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		--monospace: sats-symbol, Consolas, Monaco, "Lucida Console", monospace;
		font-size: 14px;
		text-rendering: optimizeLegibility;
		color: black;
		background-image: linear-gradient(#def, white);
	}

	a {
		outline: none;
		color: #21759b;

		&:hover {
			color: #0f3647;
		}
	}

	/* Page structure */
	body {
		padding: 0 24px;
		background-color: #fff;
		display: grid;
		grid: "head" "main" "side" "foot" / auto;
		gap: 24px 0;
	}

	/* Header */
	body>header {
		padding: 24px 0;

		h1,
		h2 {
			text-align: center;
			font-weight: normal;

			a {
				color: #515151;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #21759b;
				}
			}
		}

		h1 {
			font-size: 24px;
			font-style: italic;
			line-height: 1.285714286;
			margin-bottom: 14px;
		}

		h2 {
			font-size: 13px;
			line-height: 1.846153846;
			color: #757575;
		}
	}

	/* Navigation Menu */
	.main-navigation {
		margin-top: 24px;
		text-align: center;

		li {
			margin-top: 24px;
			font-size: 12px;
			line-height: 1.42857143;
		}

		a {
			color: #5e5e5e;

			&:hover,
			&:focus {
				color: #21759b;
			}
		}

		ul.nav-menu,
		div.nav-menu>ul {
			display: none;
		}
	}

	.menu-toggle {
		display: inline-block;
	}

	.menu-toggle:has(>:checked)+.nav-menu {
		display: block;
	}

	/* Sidebar */
	body>aside {
		.widget {
			hyphens: auto;
			margin-bottom: 48px;
			word-wrap: break-word;

			h3 {
				margin-bottom: 24px;
			}

			p,
			li,
			.textwidget {
				font-size: 13px;
				line-height: 1.846153846;
			}

			p {
				margin-bottom: 24px;
			}
		}

		.textwidget ul,
		.textwidget ol {
			list-style: disc outside;
			margin: 0 0 24px;
		}

		.textwidget li>ul,
		.textwidget li>ol {
			margin-bottom: 0;
		}

		.textwidget ol {
			list-style: decimal;
		}

		.textwidget li {
			margin-left: 36px;
		}

		.widget a {
			color: #757575;

			&:hover {
				color: #21759b;
			}

			&:visited {
				color: #9f9f9f;
			}
		}
	}

	/* Footer */
	footer {
		border-top: 1px solid #ededed;
		font-size: 12px;
		line-height: 2;
		padding: 24px 0;

		a {
			color: #686868;

			&:hover {
				color: #21759b;
			}
		}
	}

	/* =Main content and comment content
	-------------------------------------------------------------- */

	.comments-link a,
	.entry-meta a {
		color: #757575;

		&:hover {
			color: #21759b;
		}
	}

	.entry-content,
	.entry-summary {
		line-height: 1.714285714;
	}

	.entry-content h1,
	.comment-content h1,
	.entry-content h2,
	.comment-content h2,
	.entry-content h3,
	.comment-content h3,
	.entry-content h4,
	.comment-content h4,
	.entry-content h5,
	.comment-content h5,
	.entry-content h6,
	.comment-content h6 {
		margin: 24px 0;
		line-height: 1.714285714;
	}

	.entry-content h1,
	.comment-content h1 {
		font-size: 21px;
		line-height: 1.5;
	}

	.entry-content h2,
	.comment-content h2 {
		font-size: 18px;
		line-height: 1.6;
	}

	.entry-content h3,
	.comment-content h3 {
		font-size: 16px;
		line-height: 1.846153846;
	}

	.entry-content h4,
	.comment-content h4 {
		font-size: 14px;
		line-height: 1.846153846;
	}

	.entry-content h5,
	.comment-content h5 {
		font-size: 13px;
		line-height: 1.846153846;
	}

	.entry-content h6,
	.comment-content h6 {
		font-size: 12px;
		line-height: 1.846153846;
	}

	.entry-content p,
	.entry-summary p,
	.comment-content p {
		margin: 0 0 24px;
		line-height: 1.714285714;
	}

	.entry-content a:visited,
	.comment-content a:visited {
		color: #9f9f9f;
	}

	.entry-content .more-link {
		white-space: nowrap;
	}

	.entry-content ol,
	.comment-content ol,
	.entry-content ul,
	.comment-content ul {
		margin: 0 0 24px;
		line-height: 1.714285714;
	}

	.entry-content ul ul,
	.comment-content ul ul,
	.entry-content ol ol,
	.comment-content ol ol,
	.entry-content ul ol,
	.comment-content ul ol,
	.entry-content ol ul,
	.comment-content ol ul {
		margin-bottom: 0;
	}

	.entry-content ul,
	.comment-content ul {
		list-style: disc outside;
	}

	.entry-content ol,
	.comment-content ol {
		list-style: decimal outside;
	}

	.entry-content li,
	.comment-content li {
		margin: 0 0 0 36px;
	}

	.entry-content blockquote,
	.comment-content blockquote {
		margin-bottom: 24px;
		padding: 24px;
		font-style: italic;
	}

	.entry-content blockquote p:last-child,
	.comment-content blockquote p:last-child {
		margin-bottom: 0;
	}

	.entry-content code,
	.comment-content code {
		font-family: var(--monospace);
		font-size: 12px;
		line-height: 2;
	}

	.entry-content pre,
	.comment-content pre {
		border: 1px solid #ededed;
		color: #666;
		font-family: var(--monospace);
		font-size: 12px;
		line-height: 1.714285714;
		margin: 24px 0;
		overflow: auto;
		padding: 24px;
	}

	.entry-content pre code,
	.comment-content pre code {
		display: block;
	}

	.entry-content abbr,
	.comment-content abbr,
	.entry-content dfn,
	.comment-content dfn,
	.entry-content acronym,
	.comment-content acronym {
		border-bottom: 1px dotted #666;
		cursor: help;
	}

	.entry-content address,
	.comment-content address {
		display: block;
		line-height: 1.714285714;
		margin: 0 0 24px;
	}

	img.alignleft,
	.wp-caption.alignleft {
		margin: 12px 24px 12px 0;
	}

	img.alignright,
	.wp-caption.alignright {
		margin: 12px 0 12px 24px;
	}

	img.aligncenter,
	.wp-caption.aligncenter {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.entry-content embed,
	.entry-content iframe,
	.entry-content object,
	.entry-content video {
		margin-bottom: 24px;
	}

	.entry-content dl,
	.comment-content dl {
		margin: 0 24px;
	}

	.entry-content dt,
	.comment-content dt {
		font-weight: bold;
		line-height: 1.714285714;
	}

	.entry-content dd,
	.comment-content dd {
		line-height: 1.714285714;
		margin-bottom: 24px;
	}

	.entry-content table,
	.comment-content table {
		border-bottom: 1px solid #ededed;
		color: #757575;
		line-height: 2;
		margin: 0 0 24px;
		width: 100%;
	}

	.entry-content table caption,
	.comment-content table caption {
		font-size: 16px;
		margin: 24px 0;
	}

	.entry-content td,
	.comment-content td {
		border-top: 1px solid #ededed;
		padding: 6px 10px 6px 0;
	}

	body>main article {
		border-bottom: 4px double #ededed;
		margin-bottom: 72px;
		padding-bottom: 24px;
		word-wrap: break-word;
		hyphens: auto;
	}

	footer.entry-meta {
		margin-top: 24px;
		font-size: 13px;
		line-height: 1.846153846;
		color: #757575;
		text-align: right;
	}


	/* =Archives
	-------------------------------------------------------------- */

	.archive-header,
	.page-header {
		margin-bottom: 48px;
		padding-bottom: 22px;
		border-bottom: 1px solid #ededed;
	}

	.archive-meta {
		color: #757575;
		font-size: 12px;
		line-height: 2;
		margin-top: 22px;
	}

	/* =Comments
	-------------------------------------------------------------- */

	.comments-title {
		margin-bottom: 48px;
		font-size: 16px;
		line-height: 1.5;
		font-weight: normal;
	}

	.comments-area article {
		margin: 24px 0;
	}

	.comments-area article header {
		margin: 0 0 48px;
		overflow: hidden;
		position: relative;
	}

	.comments-area article header img {
		float: left;
		padding: 0;
		line-height: 0;
	}

	.comments-area article header cite,
	.comments-area article header time {
		display: block;
		margin-left: 85px;
	}

	.comments-area article header cite {
		font-style: normal;
		font-size: 15px;
		line-height: 1.42857143;
	}

	.comments-area article header time {
		line-height: 1.714285714;
		text-decoration: none;
		font-size: 12px;
		color: #5e5e5e;
	}

	.comments-area article header a {
		text-decoration: none;
		color: #5e5e5e;
	}

	.comments-area article header a:hover {
		color: #21759b;
	}

	.comments-area article header cite a {
		color: #444;
	}

	.comments-area article header cite a:hover {
		text-decoration: underline;
	}

	.comments-area article header h4 {
		position: absolute;
		top: 0;
		right: 0;
		padding: 6px 12px;
		font-size: 12px;
		font-weight: normal;
		color: #fff;
		background-color: #0088d0;
		background-repeat: repeat-x;
		background-image: linear-gradient(#009cee, #0088d0);
		border-radius: 3px;
		border: 1px solid #007cbd;
	}

	a.comment-reply-link,
	a.comment-edit-link {
		color: #686868;
		font-size: 13px;
		line-height: 1.846153846;

		&:hover {
			color: #21759b;
		}
	}

	.commentlist .pingback {
		line-height: 1.714285714;
		margin-bottom: 24px;
	}

	/* Comment form */
	.comment-respond {
		margin-top: 48px;

		>h3 {
			font-size: 16px;
			line-height: 1.5;

			>a {
				// This was #cancel-comment-reply-link.
				margin-left: 10px;
				font-weight: normal;
				font-size: 12px;
			}
		}

		>form {
			margin: 24px 0;
			display: grid;
			gap: 11px 0;
			line-height: 1.714285714;

			>label {
				display: block;
			}

			.required {
				color: red;
			}

			input[type="text"],
			textarea {
				font-size: 12px;
				padding: 10px;
				width: 100%;
			}

			input[type="submit"] {
				width: fit-content;
			}
		}
	}

	/* =Widgets
	-------------------------------------------------------------- */

	.widget select {
		max-width: 100%;
	}

	body>aside .widget ul ul {
		margin-left: 12px;
	}

	/* =Media queries
	-------------------------------------------------------------- */

	/* Minimum width of 600 pixels. */
	@media screen and (min-width: 600px) {
		body {
			margin: 0 auto;
			max-width: 960px;
			grid:
				"head head head"
				"main .... side"
				"foot foot foot"

				/ 2.5fr .34fr 1fr;
		}

		body>header h1 {
			font-size: 26px;
			line-height: 1.846153846;
			margin-bottom: 0;
		}

		.main-navigation ul.nav-menu,
		.main-navigation div.nav-menu>ul {
			border-bottom: 1px solid #ededed;
			border-top: 1px solid #ededed;
			display: inline-block !important;
			text-align: left;
			width: 100%;
		}

		.main-navigation ul {
			margin: 0;
			text-indent: 0;
		}

		.main-navigation li a,
		.main-navigation li {
			display: inline-block;
			text-decoration: none;
		}

		.main-navigation li a {
			border-bottom: 0;
			color: #6a6a6a;
			line-height: 3.692307692;
			text-transform: uppercase;
			white-space: nowrap;

			&:hover,
			&:focus {
				color: black;
			}
		}

		.main-navigation li {
			margin: 0 40px 0 0;
			position: relative;

			ul {
				position: absolute;
				top: 100%;
				z-index: 1;
				visibility: hidden;

				ul {
					top: 0;
					left: 100%;
				}
			}

			&:hover,
			&:focus {
				>ul {
					visibility: visible;
				}
			}
		}

		.main-navigation li ul li a {
			background: #efefef;
			border-bottom: 1px solid #ededed;
			display: block;
			font-size: 11px;
			line-height: 2.181818182;
			padding: 8px 10px;
			width: 180px;
			white-space: normal;

			&:hover,
			&:focus {
				background: #e3e3e3;
				color: #444;
			}
		}

		.main-navigation .current-menu-item>a,
		.main-navigation .current-menu-ancestor>a,
		.main-navigation .current_page_item>a,
		.main-navigation .current_page_ancestor>a {
			color: #636363;
			font-weight: bold;
		}

		.menu-toggle {
			display: none;
		}

		.comment-respond>form input[type="text"] {
			width: 46.333333333%;
		}

		.commentlist .children {
			margin-left: 48px;
		}
	}

	/* Minimum width of 960 pixels. */
	@media screen and (min-width: 960px) {
		body {
			padding: 0 40px;
			margin-top: 112px;
			margin-bottom: 48px;
			box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
		}
	}








	/* Sat's 更新记录标签 */
	ul.sats-update {
		padding-left: 0px;
		list-style-type: none;
	}

	ul.sats-update li {
		margin: 0 0 .5em .5em;
	}

	ul.sats-update li strong[class] {
		margin-right: .3em;
		padding: .05em .4em .1em;
		border: .1em solid rgba(255, 255, 255, .8);
		box-shadow: 0 0 0 .1em rgba(0, 0, 0, .3), inset 0 0 .6em rgba(255, 255, 255, .6);
		color: white;
		font-weight: normal;
		white-space: nowrap;
	}

	ul.sats-update li strong.add {
		background-color: #b5cd8b;
	}

	ul.sats-update li strong.change {
		background-color: #77c6d8;
	}

	ul.sats-update li strong.remove {
		background-color: #d87777;
	}

	ul.sats-update li strong.fix {
		background-color: #dcd374;
	}

	/* Sat's 进度条 */
	.sats-prog {
		display: table;
		border-collapse: separate;
		border-radius: 4px;
		box-shadow: 0px 2px 8px rgba(239, 156, 53, .8);
		margin-bottom: 1em;
	}

	.sats-prog>* {
		display: table-cell;
		padding: .2em .4em;
		color: #f7f5e7;
		background-color: #ef9c35;
		border: .1em solid white;
	}

	.sats-prog>em {
		width: 3em;
		font-style: normal;
		border-radius: 4px 0px 0px 4px;
		border-right-style: none;
		text-align: center;
	}

	.sats-prog>strong {
		width: 30%;
	}

	.sats-prog>strong a:link {
		color: #f7f5e7;
	}

	.sats-prog>strong a:active {
		color: #ac2404;
	}

	.sats-prog>span {
		width: 60%;
		position: relative;
		border-left-style: none;
		border-radius: 0px 4px 4px 0px;
		background-color: #f2bf72;
		color: white;
		text-align: center;
	}

	.sats-prog>span>span {
		position: absolute;
		background-color: rgba(186, 108, 56, .45);
		border-style: none;
		text-indent: -9999em;
		left: 0;
		top: 0;
		/* 使用时应使用style赋予width */
		bottom: 0;
	}

	/* Sat's old post info bar */

	.old-post-info {
		color: #4d525a;
		border: .1em solid rgba(77, 82, 90, .5);
		padding: .9em;
		margin-bottom: .9em;
		box-shadow: 0px .5em rgba(77, 82, 90, .5) 1em;
	}

	/* 每篇文章特有但写不进行内的样式 */
	.p410-weird-gradient {
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
		height: 50px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		color: transparent;
		text-indent: -999px;
		background: linear-gradient(to right, white 0%, 2.5%, black 50%, 97.5%, white 100%);
	}

	.p410-plus-lighter-background {
		background: black;
		position: relative;
		font-weight: bold;
		text-align: center;
	}

	.p410-plus-lighter-foreground {
		display: block;
		position: absolute;
		inset: 0;
		color: #5a0;
		mix-blend-mode: plus-lighter;
	}

	/* 主题 */

	.entry-content blockquote,
	.comment-content blockquote {
		font-style: normal;
		background-image: linear-gradient(to right, white, #fcfcfc);
		border-left: .5rem whitesmoke solid;
		padding: .5rem 1rem;
	}

	kbd {
		padding: 0 .2em .1em;
		margin: .2em;
		font-family: inherit;
		font-size: .9em;
		border: .5px solid silver;
		box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.07);
	}


	details {
		margin: 1em 0;
	}

	summary {
		cursor: pointer;
		font-weight: bold;
		background-color: gainsboro;
		box-shadow: 1em 1em 1em -1em silver inset;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	summary:active {
		background-color: silver;
	}

	details[open] {
		background-image: linear-gradient(0, gainsboro, transparent 1em);
		padding-bottom: 1em;
	}

	summary::marker {
		content: "";
		display: none;
	}

	summary::before {
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		box-sizing: content-box;
		border: 1em solid transparent;
		border-left-color: gray;
		margin-right: .25em;
		vertical-align: middle;
	}

	details[open]>summary::before {
		border-color: gray transparent white;
	}

	.entry-content h1:first-of-type {
		margin: 0 0 2em;
		font-size: 2em;
		border-bottom: .2em double rgba(77, 82, 90, .5);
		padding-bottom: .5em;
		font-family: sats-symbol, "Open Sans", Helvetica, Arial,
			"Source Han Sans CN", "Source Han Sans", DengXian, SimHei, sans-serif;

		a {
			text-decoration: none;
			color: #4d525a;

			&:hover {
				color: #2e3542;
			}
		}
	}

	@media screen {
		body {
			margin-top: 8rem !important;
		}
	}

	@media print {
		.site-header {
			display: none;
		}

		a {
			text-decoration: underline;
		}

		.entry-content a::after {
			content: " (" attr(href) ")";
			font-weight: normal;
			font-size: 80%;
			text-decoration: line-through;
		}
	}

	body>header hgroup {
		position: absolute;
		left: 0;
		right: 0;
		top: 2rem;
		width: 100%;
		text-align: center;
	}

	.main-navigation {
		margin-top: 0;
	}

	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu>ul {
		border-top-style: none;
	}

}

.theme-modern-magic {
	--fg0: black;
	--bg0: #fff3e0;
	--fg1: #b53d00;
	--bg1: #ffcc80;

	&.dark {
		--fg0: #edb;
		--bg0: #210;
		--fg1: #fa5;
		--bg1: #531;
	}

	--red: #b71c1c;
	--yellow: #827717;
	--green: #33691e;
	--cyan: #009095;
	--blue: #0d47a1;
	--violet: #4a148c;

	&:root {
		background: var(--bg1);
		color: var(--fg0);
		font: 12pt/1.25 sats-symbol, "【TODO：某个字体】", sans-serif;
		padding: 8px;
	}

	body {
		display: grid;
		grid:
			"head" 300px "main"
			"side"
			"foot"
			/ 1fr;
		gap: 8px;
		max-inline-size: 960px;
		margin: auto;
	}

	@media (min-width: 640px) {
		body {
			grid:
				"head head" 300px "side main"
				"foot foot"
				/ minmax(auto, 160px) 1fr;
		}
	}

	body>* {
		border: 3px solid var(--fg1);
		padding: 8px;
		background: var(--bg0);
	}

	body>main {
		container-type: inline-size;
	}

	.menu-toggle {
		display: none;
	}

	.entry-meta {
		a {
			margin-inline-end: .5em;
		}

		li {
			display: inline;
		}
	}

	.admonition {
		border: 1px solid var(--fg1);
		padding: 8px;
		background: var(--bg1);
	}

	article {

		>figure,
		>div>figure,
		>div>div>figure {
			margin-inline: -8px;
			margin-inline: calc(50% - 50cqi - 8px);
			padding-inline: 8px;

			>blockquote,
			>figcaption {
				max-inline-size: 42pc;
				margin-inline: auto;
			}

			>blockquote {
				padding-inline: 2em;
			}
		}

		pre>code {
			display: block;
			border-block: 1px solid var(--fg1);
			padding-block: 8px;
		}

		details {
			border: 1px solid var(--fg1);

			>summary {
				background: var(--bg1);
				list-style: "\1fb6c" inside;
				cursor: default;
				color: var(--fg1);

				&:active {
					background: var(--fg1);
					color: var(--bg1);
				}
			}

			&[open] {
				>summary {
					list-style: "\1fb9a" inside;
					border-block-end: 1px solid var(--fg1);
					margin-block-end: 8px;
					margin-inline: -8px;
				}

				padding-block-end: 8px;
				padding-inline: 8px;
			}
		}
	}
}

.theme-htmltex {
	@font-face {
		font-family: TeX;
		src: local("Latin Modern Roman 10"), local("LMRoman10-Regular");
	}

	@font-face {
		font-family: TeX;
		src: local("FandolSong");
		unicode-range: U+2E80-9FFF, U+F900-FAFF, U+FE10-FE1F, U+FE30-FE6F, U+FF00-FFEF, U+20000-31FFF;
	}

	@font-face {
		font-family: TeX;
		font-weight: bold;
		src: local("Latin Modern Roman 10 Bold"), local("LMRoman10-Bold");
	}

	@font-face {
		font-family: TeX;
		font-weight: bold;
		src: local("FandolSong Bold"), local("FandolSong-Bold");
		unicode-range: U+2E80-9FFF, U+F900-FAFF, U+FE10-FE1F, U+FE30-FE6F, U+FF00-FFEF, U+20000-31FFF;
	}

	@font-face {
		font-family: TeX;
		font-style: italic;
		src: local("Latin Modern Roman 10 Italic"), local("LMRoman10-Italic");
	}

	@font-face {
		font-family: TeX;
		font-style: italic;
		src: local("FandolKai");
		unicode-range: U+2E80-9FFF, U+F900-FAFF, U+FE10-FE1F, U+FE30-FE6F, U+FF00-FFEF, U+20000-31FFF;
	}

	@font-face {
		font-family: TeXCode;
		src: local("Latin Modern Mono 10"), local("LMMono10-Regular");
	}

	@font-face {
		font-family: TeXCode;
		src: local("FandolFang"), local("FandolFang R");
		unicode-range: U+2E80-9FFF, U+F900-FAFF, U+FE10-FE1F, U+FE30-FE6F, U+FF00-FFEF, U+20000-31FFF;
	}

	@font-face {
		font-family: TeXSymbol;
		src: url("LMMathLigatures-Regular.otf") format("opentype");
	}

	&:root {
		font: 12pt/1.2 sats-symbol, TeX, serif;
		font-synthesis: small-caps;
		text-underline-position: under;
		--monospace: sats-symbol, TeXCode, monospace, monospace;
	}

	text-decoration-thickness: .4pt;

	.token.symbol,
	.token.punctuation {
		font-family: sats-symbol, TeXSymbol, TeX, serif;
	}

	.token.punctuation {
		font-feature-settings: "ss01";
	}

	@media print {
		a:visited {
			color: blue;
		}
	}
}